body,
html {
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0px auto 25px auto;
  background: #dddddd;
  color: #000000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
