body,
html {
  padding: 0;
  margin: 0;
  background: #dddddd;
  color: #000000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  padding-inline: clamp(1.25rem, 0.4167rem + 3.3333vw, 3.75rem);
}
