body,
html {
  max-width: 100%;
  max-height: 100vh;
  // overflow-x: hidden;
  // overflow-y: hidden;
  margin: 0px auto 25px auto;
  background: #dddddd;
  color: #000000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
