@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Lora:ital@1&display=swap");

.component {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  // background: linear-gradient(-45deg, #bfffc7, #608190, #205072, #cde0c9);
  // background: linear-gradient(
  //   108.9deg,
  //   rgba(251, 140, 0, 1) 11.2%,
  //   rgba(0, 139, 155, 1) 88.9%
  // );
  background-image: linear-gradient(
    180.3deg,
    #205072 3%,
    rgba(0, 0, 0, 0.93) 13.6%,
    rgb(2, 100, 111) 59%,
    rgba(251, 140, 0, 1) 110%
  );
  background-size: 100% 100%;
  animation: gradientBG 8s ease infinite;

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 400px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), black);
  }

  .content {
    position: relative;
    isolation: isolate;
    top: 225px;
    z-index: 1;
    @media screen and (max-width: 450px) {
      top: 115px;
    }

    .welcomeCard {
      position: relative;
      display: flex;
      flex-direction: column;
      color: #dbdbdb;
      padding: 2rem 1.5rem 2rem 1.5rem;
      width: min(80%, 1000px);
      margin-inline: auto;
      overflow: hidden;
      font-family: "Comfortaa";

      @media screen and (max-width: 2048px) {
        width: min(80%, 1550px);
      }
      @media screen and (max-width: 450px) {
        top: 3%;
        padding: 0.05rem 1.5rem 2rem 1.5rem;
      }

      h2 {
        font-size: clamp(1.5rem, 1rem + 2vw, 3rem);
        @media screen and (max-width: 450px) {
          display: none;
        }
      }

      p {
        font-size: clamp(1rem, 0.6667rem + 1.3333vw, 2rem);
        margin-top: 0;
        @media screen and (max-width: 450px) {
          text-align: center;
          font-size: clamp(
            24.5px,
            calc(1.40625rem + ((1vw - 3.6px) * 17.5)),
            40px
          );
          font-weight: 400;
          margin-top: 20px;
        }
      }

      a {
        font-size: clamp(1rem, 0.6667rem + 1.3333vw, 2rem);
      }

      .buttonBlue {
        margin: 50px auto 0 auto;
        text-decoration: none;
        font: bold 0.8em "Trebuchet MS", Arial, Helvetica; /*Change the em value to scale the button*/
        display: inline-block;
        text-align: center;
        color: #fff;
        border-radius: 0.3em;

        border: 1px solid #9c9c9c; /* Fallback style */
        border: 1px solid rgba(0, 0, 0, 0.3);

        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

        box-shadow: 0 0 0.05em rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 0.05em rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 0 0.05em rgba(0, 0, 0, 0.4);

        @media screen and (max-width: 2048px) {
          margin: 30px auto 0 auto;
          font: bold 1.55em "Trebuchet MS", Arial, Helvetica;
        }

        @media screen and (max-width: 450px) {
          margin: -5px auto 0 auto;
          font-family: "Trebuchet MS", Arial, Helvetica;
          font-size: clamp(14px, calc(0.875rem + ((1vw - 2.8px) * 5)), 18px);
        }
      }

      .buttonBlue span {
        -moz-border-radius: 0.3em;
        border-radius: 0.3em;
      }

      .buttonBlue span {
        border-top: 1px solid #fff; /* Fallback style */
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        display: block;
        padding: 0.65em 1.75em;

        /* The background pattern */

        background-image: -webkit-gradient(
            linear,
            0 0,
            100% 100%,
            color-stop(0.25, rgba(0, 0, 0, 0.05)),
            color-stop(0.25, transparent),
            to(transparent)
          ),
          -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(0, 0, 0, 0.05)), color-stop(0.25, transparent), to(transparent)),
          -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, rgba(0, 0, 0, 0.05))),
          -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, rgba(0, 0, 0, 0.05)));
        background-image: -moz-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.05) 25%,
            transparent 25%,
            transparent
          ),
          -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
          -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
          -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);

        /* Pattern settings */

        -moz-background-size: 3px 3px;
        -webkit-background-size: 3px 3px;
      }

      .buttonBlue:hover {
        box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);
      }

      .buttonBlue:active {
        /* When pressed, move it down 1px */
        position: relative;
        top: 1px;
      }

      .buttonBlue {
        background: rgb(235, 129, 0);
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#81a8cb),
          to(#4477a1)
        );
        background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1');
      }

      .buttonBlue:hover {
        background: #f7a561;
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#d1b094),
          to(#ce7730)
        );
        background: -moz-linear-gradient(-90deg, #d1b094, #ce7730);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4477a1', endColorstr='#81a8cb');
      }

      .buttonBlue:active {
        background: #4477a1;
      }
    }
  }

  .carousel {
    display: flex;
    flex-direction: column;
    top: 195px;
    text-align: center;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 2110px) {
      top: 100px;
    }

    @media screen and (max-width: 450px) {
      top: clamp(-140px, calc(0.0625rem + ((1vh - 7.35px) * 17.5758)), 160px);
    }

    .title {
      margin-top: 20px;
      font-size: 35px;
      color: #dedede;
      font-family: "Comfortaa", Comfortaa;

      @media screen and (max-width: 2110px) {
        top: 100px;
      }

      @media screen and (max-width: 450px) {
        top: 175px;
        font-size: 27px;
      }
    }
  }
}
