@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
.component {
  display: flex;
  align-items: center;
  width: 1000px;
  min-height: 150px;
  justify-content: space-between;

  .link {
    color: black;
    text-decoration: none;
    .mainLogo {
      position: absolute;
      display: flex;
      flex-direction: row;
      gap: 68.5%;
      top: 0px;
      left: 0px;
      width: 100%;
      max-height: 175px;
      z-index: 100000;
      filter: saturate(170%);
      background-color: rgba(5, 8, 23, 0.41);
      box-shadow: 0px 5px 20px #727272;

      @media screen and (max-width: 2048px) {
        gap: clamp(750px, calc(46.875rem + ((1vw - 2.5px) * 17.8378)), 1025px);
        max-height: 175px;
      }
      @media screen and (max-width: 1750px) {
        gap: clamp(350px, calc(46.875rem + ((1vw - 2.5px) * 17.8378)), 580px);
        max-height: 205px;
      }
      @media screen and (max-width: 450px) {
        gap: clamp(0px, calc(46.875rem + ((1vw - 2.5px) * 17.8378)), 15px);
        max-height: 110px;
        overflow-x: hidden;
      }

      .mainImage img {
        width: 350px;
        padding: 40px 20px 40px
          clamp(20px, calc(0.625rem + ((1vw - 2.5px) * 6.1538)), 85px);
        height: 95px;
        background: linear-gradient(to right, #2b57789b, rgba(0, 40, 91, 0));

        @media screen and (max-width: 2048px) {
          width: 325px;
          padding: 50px 20px 55px
            clamp(20px, calc(0.625rem + ((1vw - 2.5px) * 6.1538)), 85px);
          height: 70px;
        }

        @media screen and (max-width: 450px) {
          width: 130px;
          padding: 30px 20px 40px
            clamp(20px, calc(0.625rem + ((1vw - 2.5px) * 6.1538)), 85px);
          height: 45px;
        }
      }

      .box {
        display: flex;
        height: 145px;
        align-items: center;
        height: 145px;
        width: 600px;
        font-size: 1.52rem;
        margin-top: 15px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.509);
        box-shadow: 0 0.1rem 2rem rgba(255, 255, 255, 0.25);

        @media screen and (max-width: 2048px) {
          height: 145px;
          width: 560px;
          font-size: 1.52rem;
          margin-top: 15px;
          border-radius: 15px;
        }

        @media screen and (max-width: 450px) {
          height: 78px;
          width: 215px;
          font-size: 0.654rem;
          margin-top: 17px;
          border-radius: 15px;
        }
      }

      .avatar {
        background-image: url(../../../assets/images/phone.png);
        background-position: center;
        background-size: 45px;
        background-repeat: no-repeat;
        height: 60px;
        width: 60px;
        border-radius: 55px;
        margin: 0 10px 0 40px;
        @media screen and (max-width: 450px) {
          background-image: url(../../../assets/images/phone.png);
          background-position: center;
          background-size: 18px;
          background-repeat: no-repeat;
          height: 35px;
          width: 35px;
          border-radius: 55px;
          margin: 0px 2.5px 0 8px;
        }
      }

      .content {
        padding: 10% 4%;
        margin: 20px 0 0 0;
        color: #343454;
        @media screen and (max-width: 450px) {
          margin: 10px 5px 0 0;
        }
        p {
          cursor: pointer;
          margin-top: 5px;
        }
      }
    }
  }
}
