@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

.component {
  position: relative;

  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
  }

  .menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 320px;
    width: 330px;
    height: 400px;
    background: rgba(255, 255, 255, 0.639);
    padding: 10px 40px 90px 35px;
    z-index: 100;
    border: 1px solid #4444448d;
    margin: 0;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(101, 101, 101);

    @media screen and (max-width: 2048px) {
      top: 300px;
      right: 0px;
      width: 330px;
      height: 400px;
    }

    .logo2 {
      @media screen and (max-width: 450px) {
        display: none;
      }
    }

    @media screen and (max-width: 450px) {
      position: fixed;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 60px;
      width: 90%;
      background: linear-gradient(to bottom, #c8e3ff, #7996b4);
      padding: 0;
      z-index: 100;
      border-top: 1px solid #0063cc;
      border-radius: 55px;
    }

    // Rest of your styles

    &.hiddenMenu {
      right: -295px;
    }

    .option {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 450px) {
        gap: clamp(6%, calc(0.3125rem + ((1vw - 2.8px) * 22.2222)), 25%);
        flex-direction: row; /* Change to column layout for mobile */
        justify-content: center;
        align-self: center;
        margin-top: -28px;
      }

      a {
        font-size: 33px;
        color: rgb(57, 57, 57);
        margin-top: 40px;
        text-decoration: none;

        &:hover {
          color: rgb(149, 149, 149);
        }
        .Home {
          @media screen and (max-width: 450px) {
            border-right: 1px solid black;
            padding: 0
              clamp(12.5px, calc(0.625rem + ((1vw - 2.8px) * 11.1111)), 27.5px)
              0 0;
          }
        }
        .cart {
          @media screen and (max-width: 450px) {
            margin: -3px 0 1px -5px;
          }
        }
      }
    }
  }

  .closedMenu {
    cursor: pointer;
    margin: auto;

    &:hover {
      padding: 5px 5px 0px 5px;
      border: 2px solid black;
      border-radius: 10px;
    }
  }

  .exitMenu {
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 16px;
    font-size: 45px;

    &:hover {
      color: rgb(170, 170, 170);
    }
  }
}
